---
title:  "Data Gathering - Record Data"
author: "Sheeba Moghal"
format:
    html:
        embed-resources: true
        code-fold: true
execute:
    echo: true
jupyter: python3
---

For the record data, using the world bank data bank, the data was retrieved. There is a lot of cleaning that was supposed to be done. The entire data as seen under data_gathering section was transposed and had 152 columns. I had to individually transpose. Below, a similar method was imposed to clean all the 5 individual datasets.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#pip install xlrd
df=pd.read_excel('../data/excel_files/india.xlsx')
df.head(10)

,Series Name,Series Code,Country Name,Country Code,1979 [YR1979],1980 [YR1980],1981 [YR1981],1982 [YR1982],1983 [YR1983],1984 [YR1984],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,India,IND,-4.294464e+00,1.197854e+01,-2.572689e+00,1.626264e+00,1.156210e+01,1.851968e+00,...,5.743356e+00,7.013968e+00,8.865576e+00,7.532403e+00,8.398101e+00,5.840102e+00,4.233916,-6.952693,..,..
1,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,India,IND,2.211879e+11,2.476830e+11,2.413109e+11,2.452352e+11,2.735896e+11,2.786564e+11,...,1.579994e+12,1.690815e+12,1.840715e+12,1.979365e+12,2.145594e+12,2.270899e+12,2367046992096.234863,2202473491333.981445,..,..
2,Adjusted savings: consumption of fixed capital...,NY.ADJ.DKAP.GN.ZS,India,IND,8.340217e+00,8.055168e+00,8.393346e+00,8.819348e+00,8.419293e+00,8.784357e+00,...,1.082108e+01,1.087247e+01,1.062772e+01,1.053878e+01,1.054180e+01,1.071598e+01,10.84664,11.088283,..,..
3,Adjusted savings: education expenditure (% of ...,NY.ADJ.AEDU.GN.ZS,India,IND,2.600000e+00,2.600000e+00,2.600000e+00,3.051058e+00,3.153437e+00,2.700000e+00,...,3.080000e+00,3.080000e+00,3.080000e+00,3.080000e+00,3.080000e+00,3.080000e+00,3.08,3.08,..,..
4,Adjusted savings: net national savings (% of GNI),NY.ADJ.NNAT.GN.ZS,India,IND,7.427910e+00,6.418183e+00,7.373027e+00,7.043158e+00,7.024774e+00,7.097912e+00,...,2.398766e+01,2.288990e+01,2.220882e+01,2.088344e+01,2.155743e+01,2.096942e+01,19.364627,19.896565,..,..
5,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,India,IND,3.290178e-02,-9.580692e-01,-1.394549e+00,-1.257273e+00,-8.874382e-01,-1.089317e+00,...,-2.645667e+00,-1.339509e+00,-1.067549e+00,-5.278806e-01,-1.439488e+00,-2.426975e+00,-1.049612,1.225112,-1.060924,-2.335269
6,Exports of goods and services (% of GDP),NE.EXP.GNFS.ZS,India,IND,6.749638e+00,6.139551e+00,5.936027e+00,5.983300e+00,5.837629e+00,6.283401e+00,...,2.543086e+01,2.296796e+01,1.981319e+01,1.915823e+01,1.879176e+01,1.992783e+01,18.664265,18.705247,21.514389,22.449438
7,Exports of goods and services (annual % growth),NE.EXP.GNFS.KD.ZG,India,IND,1.115419e+01,5.237330e+00,-8.169341e-01,6.020508e+00,-9.149183e-01,7.297852e+00,...,7.792389e+00,1.777591e+00,-5.647087e+00,4.984258e+00,4.564708e+00,1.193187e+01,-3.384978,-9.135286,29.293893,11.502775
8,External debt stocks (% of GNI),DT.DOD.DECT.GN.ZS,India,IND,1.187508e+01,1.109611e+01,1.161548e+01,1.346761e+01,1.410165e+01,1.553087e+01,...,2.330087e+01,2.270491e+01,2.302951e+01,2.026309e+01,1.950102e+01,1.948509e+01,20.000281,21.470538,19.618194,..
9,Final consumption expenditure (% of GDP),NE.CON.TOTL.ZS,India,IND,8.569155e+01,8.749802e+01,8.576861e+01,8.531944e+01,8.563585e+01,8.496053e+01,...,6.794093e+01,6.856857e+01,6.943557e+01,6.960383e+01,6.949235e+01,7.011154e+01,71.913963,72.88427,72.300662,71.036559

You see that the data is very messy and this was the case with all the 5 individual datasets.

In [3]:
df = df.T
df.columns = df.iloc[0]
df.head(5)

Series Name,Adjusted net national income (annual % growth),Adjusted net national income (constant 2015 US$),Adjusted savings: consumption of fixed capital (% of GNI),Adjusted savings: education expenditure (% of GNI),Adjusted savings: net national savings (% of GNI),Current account balance (% of GDP),Exports of goods and services (% of GDP),Exports of goods and services (annual % growth),External debt stocks (% of GNI),Final consumption expenditure (% of GDP),...,Short-term debt (% of total reserves),Trade (% of GDP),Consumer price index (2010 = 100),"Inflation, consumer prices (annual %)",Real interest rate (%),Lending interest rate (%),"Life expectancy at birth, total (years)",Expense (% of GDP),Interest payments (% of revenue),Military expenditure (% of GDP)
Series Name,Adjusted net national income (annual % growth),Adjusted net national income (constant 2015 US$),Adjusted savings: consumption of fixed capital...,Adjusted savings: education expenditure (% of ...,Adjusted savings: net national savings (% of GNI),Current account balance (% of GDP),Exports of goods and services (% of GDP),Exports of goods and services (annual % growth),External debt stocks (% of GNI),Final consumption expenditure (% of GDP),...,Short-term debt (% of total reserves),Trade (% of GDP),Consumer price index (2010 = 100),"Inflation, consumer prices (annual %)",Real interest rate (%),Lending interest rate (%),"Life expectancy at birth, total (years)",Expense (% of GDP),Interest payments (% of revenue),Military expenditure (% of GDP)
Series Code,NY.ADJ.NNTY.KD.ZG,NY.ADJ.NNTY.KD,NY.ADJ.DKAP.GN.ZS,NY.ADJ.AEDU.GN.ZS,NY.ADJ.NNAT.GN.ZS,BN.CAB.XOKA.GD.ZS,NE.EXP.GNFS.ZS,NE.EXP.GNFS.KD.ZG,DT.DOD.DECT.GN.ZS,NE.CON.TOTL.ZS,...,DT.DOD.DSTC.IR.ZS,NE.TRD.GNFS.ZS,FP.CPI.TOTL,FP.CPI.TOTL.ZG,FR.INR.RINR,FR.INR.LEND,SP.DYN.LE00.IN,GC.XPN.TOTL.GD.ZS,GC.XPN.INTP.RV.ZS,MS.MIL.XPND.GD.ZS
Country Name,India,India,India,India,India,India,India,India,India,India,...,India,India,India,India,India,India,India,India,India,India
Country Code,IND,IND,IND,IND,IND,IND,IND,IND,IND,IND,...,IND,IND,IND,IND,IND,IND,IND,IND,IND,IND
1979 [YR1979],-4.294464,221187904202.083466,8.340217,2.6,7.42791,0.032902,6.749638,11.154191,11.875085,85.691548,...,5.907537,14.918805,8.745175,6.275683,-1.061146,14.5,53.06,12.314448,12.925728,3.261329

The data was then transposed so that the columns become rows and rows become columns.

In [4]:
df = df.iloc[4:]
df = df.iloc[1:]
df.head()

Series Name,Adjusted net national income (annual % growth),Adjusted net national income (constant 2015 US$),Adjusted savings: consumption of fixed capital (% of GNI),Adjusted savings: education expenditure (% of GNI),Adjusted savings: net national savings (% of GNI),Current account balance (% of GDP),Exports of goods and services (% of GDP),Exports of goods and services (annual % growth),External debt stocks (% of GNI),Final consumption expenditure (% of GDP),...,Short-term debt (% of total reserves),Trade (% of GDP),Consumer price index (2010 = 100),"Inflation, consumer prices (annual %)",Real interest rate (%),Lending interest rate (%),"Life expectancy at birth, total (years)",Expense (% of GDP),Interest payments (% of revenue),Military expenditure (% of GDP)
1980 [YR1980],11.978544,247682993937.674408,8.055168,2.6,6.418183,-0.958069,6.139551,5.23733,11.096107,87.498021,...,10.583034,15.384577,9.737409,11.346073,4.476508,16.5,53.611,11.702478,13.780033,3.133781
1981 [YR1981],-2.572689,241310879910.579712,8.393346,2.6,7.373027,-1.394549,5.936027,-0.816934,11.615484,85.768606,...,19.694561,14.507265,11.014232,13.112547,5.118237,16.5,54.175,11.376034,14.073244,3.186248
1982 [YR1982],1.626264,245235232731.58252,8.819348,3.051058,7.043158,-1.257273,5.9833,6.020508,13.467614,85.319441,...,29.084294,14.125928,11.883336,7.890743,7.774707,16.5,54.732,11.959873,15.563031,3.345118
1983 [YR1983],11.562099,273589572947.595245,8.419293,3.153437,7.024774,-0.887438,5.837629,-0.914918,14.101651,85.635851,...,40.629366,13.690594,13.29366,11.868081,7.320987,16.5,55.281,12.077793,17.460567,3.323069
1984 [YR1984],1.851968,278656365651.448975,8.784357,2.7,7.097912,-1.089317,6.283401,7.297852,15.530868,84.960526,...,43.018087,14.009376,14.399548,8.318907,7.9471,16.5,55.816,13.14296,19.011381,3.416876

The unnecessary information has been removed and the missing values are checked now

In [5]:
df.isnull().sum()

Series Name
Adjusted net national income (annual % growth)                 0
Adjusted net national income (constant 2015 US$)               0
Adjusted savings: consumption of fixed capital (% of GNI)      0
Adjusted savings: education expenditure (% of GNI)             0
Adjusted savings: net national savings (% of GNI)              0
Current account balance (% of GDP)                             0
Exports of goods and services (% of GDP)                       0
Exports of goods and services (annual % growth)                0
External debt stocks (% of GNI)                                0
Final consumption expenditure (% of GDP)                       0
Final consumption expenditure (annual % growth)                0
Foreign direct investment, net inflows (% of GDP)              0
Foreign direct investment, net outflows (% of GDP)             0
GDP growth (annual %)                                          0
GDP per capita growth (annual %)                               0
General government final consumption expenditure (% of GDP)    0
GNI growth (annual %)                                          0
Goods exports (BoP, current US$)                               0
Goods imports (BoP, current US$)                               0
Imports of goods and services (% of GDP)                       0
Imports of goods and services (annual % growth)                0
Services, value added (% of GDP)                               0
Services, value added (annual % growth)                        0
Short-term debt (% of total reserves)                          0
Trade (% of GDP)                                               0
Consumer price index (2010 = 100)                              0
Inflation, consumer prices (annual %)                          0
Real interest rate (%)                                         0
Lending interest rate (%)                                      0
Life expectancy at birth, total (years)                        0
Expense (% of GDP)                                             0
Interest payments (% of revenue)                               0
Military expenditure (% of GDP)                                0
dtype: int64

In the dataset, there was a problem of the dataframe having row indexes and column indexes and hence, I worked on it drop the index and create a yearly column from scratch.

In [6]:
# creating a new index rather than treating it
new_index = range(1979, 2022)

# Reset the index with the new range
df = df.reset_index(drop=True)
df.index = new_index
df.index.name = "year"

df.shape

(43, 33)

All the columns have been renamed

In [7]:
cols= ['adj_NNI_g', 'adj_NNI_c', 'adj_savings_fix_cap_GNI', 'adj_savings_edu_GNI', 'adj_NNS_GNI',
                    'curr_acc_bal', 'ex_imp_gdp', 'ex_imp_growth', 'ex_debt_shocks', 'final_consump_exp_gdp',
                    'final_consump_exp_growth', 'fdi_net_inflows', 'fdi_net_outflows', 'gdp_growth', 'gdp_per_capita_growth',
                    'gener_govt_fin_consump_exp', 'gni_growth', 'goods_exp_bop','goods_imp_bop', 'imports_goods_services_gdp', 'imports_goods_services_growth','services_gdp', 'services_growth', 
                       'short_term_debt_tot_reserves','trade_gdp', 'cpi', 'inflation','real_interest_rate','lending_interest_rate','life_exp_birth','expense_gdp','interest_payments', 'military expenditure']

df.columns = cols
df.head(5)

,adj_NNI_g,adj_NNI_c,adj_savings_fix_cap_GNI,adj_savings_edu_GNI,adj_NNS_GNI,curr_acc_bal,ex_imp_gdp,ex_imp_growth,ex_debt_shocks,final_consump_exp_gdp,...,short_term_debt_tot_reserves,trade_gdp,cpi,inflation,real_interest_rate,lending_interest_rate,life_exp_birth,expense_gdp,interest_payments,military expenditure
year,,,,,,,,,,,,,,,,,,,,,
1979,11.978544,247682993937.674408,8.055168,2.6,6.418183,-0.958069,6.139551,5.23733,11.096107,87.498021,...,10.583034,15.384577,9.737409,11.346073,4.476508,16.5,53.611,11.702478,13.780033,3.133781
1980,-2.572689,241310879910.579712,8.393346,2.6,7.373027,-1.394549,5.936027,-0.816934,11.615484,85.768606,...,19.694561,14.507265,11.014232,13.112547,5.118237,16.5,54.175,11.376034,14.073244,3.186248
1981,1.626264,245235232731.58252,8.819348,3.051058,7.043158,-1.257273,5.9833,6.020508,13.467614,85.319441,...,29.084294,14.125928,11.883336,7.890743,7.774707,16.5,54.732,11.959873,15.563031,3.345118
1982,11.562099,273589572947.595245,8.419293,3.153437,7.024774,-0.887438,5.837629,-0.914918,14.101651,85.635851,...,40.629366,13.690594,13.29366,11.868081,7.320987,16.5,55.281,12.077793,17.460567,3.323069
1983,1.851968,278656365651.448975,8.784357,2.7,7.097912,-1.089317,6.283401,7.297852,15.530868,84.960526,...,43.018087,14.009376,14.399548,8.318907,7.9471,16.5,55.816,13.14296,19.011381,3.416876

Used mean value imputation for missing value imputation. As discussed, for modelling missing values have to be removed and hence, this is the reason why they're being removed. But in general, for economic data, to prevent bias, the missing value imputation is not done at all as it introduces bias to the dataset.

In [8]:
value_to_replace = ".."
for col in df.columns:
    df[col] = df[col].replace(value_to_replace, np.nan)

missing= df.isnull().sum()
missing
missing_vals = pd.DataFrame({'Missing Values': missing.index, 'Missing Values Sum': missing.values})
missing_vals = missing_vals.sort_values(by='Missing Values Sum', ascending=False)

print(missing_vals.head(15))

                  Missing Values  Missing Values Sum
31             interest_payments                   4
30                   expense_gdp                   4
0                      adj_NNI_g                   2
2        adj_savings_fix_cap_GNI                   2
3            adj_savings_edu_GNI                   2
4                    adj_NNS_GNI                   2
1                      adj_NNI_c                   2
29                life_exp_birth                   1
8                 ex_debt_shocks                   1
23  short_term_debt_tot_reserves                   1
24                     trade_gdp                   0
21                  services_gdp                   0
22               services_growth                   0
28         lending_interest_rate                   0
25                           cpi                   0

In [9]:
for cols in df.columns:
    mean = df[cols].mean()
    df[cols] = df[cols].fillna(mean)
    
print(df.isnull().sum())

adj_NNI_g                        0
adj_NNI_c                        0
adj_savings_fix_cap_GNI          0
adj_savings_edu_GNI              0
adj_NNS_GNI                      0
curr_acc_bal                     0
ex_imp_gdp                       0
ex_imp_growth                    0
ex_debt_shocks                   0
final_consump_exp_gdp            0
final_consump_exp_growth         0
fdi_net_inflows                  0
fdi_net_outflows                 0
gdp_growth                       0
gdp_per_capita_growth            0
gener_govt_fin_consump_exp       0
gni_growth                       0
goods_exp_bop                    0
goods_imp_bop                    0
imports_goods_services_gdp       0
imports_goods_services_growth    0
services_gdp                     0
services_growth                  0
short_term_debt_tot_reserves     0
trade_gdp                        0
cpi                              0
inflation                        0
real_interest_rate               0
lending_interest_rate            0
life_exp_birth                   0
expense_gdp                      0
interest_payments                0
military expenditure             0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 1979 to 2021
Data columns (total 33 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   adj_NNI_g                      43 non-null     float64
 1   adj_NNI_c                      43 non-null     float64
 2   adj_savings_fix_cap_GNI        43 non-null     float64
 3   adj_savings_edu_GNI            43 non-null     float64
 4   adj_NNS_GNI                    43 non-null     float64
 5   curr_acc_bal                   43 non-null     float64
 6   ex_imp_gdp                     43 non-null     float64
 7   ex_imp_growth                  43 non-null     float64
 8   ex_debt_shocks                 43 non-null     float64
 9   final_consump_exp_gdp          43 non-null     float64
 10  final_consump_exp_growth       43 non-null     float64
 11  fdi_net_inflows                43 non-null     float64
 12  fdi_net_outflows               43 non-null     float64
 13  gdp_growth                     43 non-null     float64
 14  gdp_per_capita_growth          43 non-null     float64
 15  gener_govt_fin_consump_exp     43 non-null     float64
 16  gni_growth                     43 non-null     float64
 17  goods_exp_bop                  43 non-null     float64
 18  goods_imp_bop                  43 non-null     float64
 19  imports_goods_services_gdp     43 non-null     float64
 20  imports_goods_services_growth  43 non-null     float64
 21  services_gdp                   43 non-null     float64
 22  services_growth                43 non-null     float64
 23  short_term_debt_tot_reserves   43 non-null     float64
 24  trade_gdp                      43 non-null     float64
 25  cpi                            43 non-null     float64
 26  inflation                      43 non-null     float64
 27  real_interest_rate             43 non-null     float64
 28  lending_interest_rate          43 non-null     float64
 29  life_exp_birth                 43 non-null     float64
 30  expense_gdp                    43 non-null     float64
 31  interest_payments              43 non-null     float64
 32  military expenditure           43 non-null     float64
dtypes: float64(33)
memory usage: 11.2 KB

We see that the entire dataset is numerical in nature.

In [11]:
df['year'] = df.index # we make this the index

Market-based economies now days are centred on steady growth. A collection of interconnected production and consuming activities that decide how scarce resources are distributed is called an economy. These limited resources are distributed within a market system in market-based economies, where supply and demand dictate how resources are allocated. 

The BRICS countries have seen a great deal of economic growth over the last few decades. China, in particular, has rapidly industrialised and grown to be the second-largest economy in the world. India has also played a significant role in this growth. These countries have diverse economies with interconnected production and consumption activities. As a group, they have significant influence on the global stage. Their trade policies, economic activities, and strategic decisions have an impact not only on their individual economies but also on the global economy as a whole. For this reason, GDP growth rate is essential in gauging the overall performance of the economy.

According to various sources, the ideal growth rate for a developed economy is around 2-3% but again, for developing country, no literature has shown be a well-performing percentage for good growth rate or moderate growth rate. However, GDP though can be a good indicator for economic performance, focusing on other parameters of education, health, gender and sustained-demand have contribute for the better performance as an economy. Yet, keeping in mind the metrics seen for developed economies, the labels have been created accordingly. With 0-2% as Low Growth, 2-5% as Moderate Growth, 5-7% as 'High Growth' looking into the average growth rates of developing economies that are performing well and 7 and above is shown as 'Very High Growth'. This is user-defined for the purposes of predictive modelling.

In [12]:
bins = [0, 2, 5, 7, float('inf')]
labels = ['Low Growth', 'Moderate Growth', 'High Growth', 'Very High Growth']
df['labels'] = pd.cut(df['gdp_growth'], bins=bins, labels=labels)
df.head(5)

,adj_NNI_g,adj_NNI_c,adj_savings_fix_cap_GNI,adj_savings_edu_GNI,adj_NNS_GNI,curr_acc_bal,ex_imp_gdp,ex_imp_growth,ex_debt_shocks,final_consump_exp_gdp,...,cpi,inflation,real_interest_rate,lending_interest_rate,life_exp_birth,expense_gdp,interest_payments,military expenditure,year,labels
year,,,,,,,,,,,,,,,,,,,,,
1979,11.978544,2.476830e+11,8.055168,2.600000,6.418183,-0.958069,6.139551,5.237330,11.096107,87.498021,...,9.737409,11.346073,4.476508,16.5,53.611,11.702478,13.780033,3.133781,1979,High Growth
1980,-2.572689,2.413109e+11,8.393346,2.600000,7.373027,-1.394549,5.936027,-0.816934,11.615484,85.768606,...,11.014232,13.112547,5.118237,16.5,54.175,11.376034,14.073244,3.186248,1980,High Growth
1981,1.626264,2.452352e+11,8.819348,3.051058,7.043158,-1.257273,5.983300,6.020508,13.467614,85.319441,...,11.883336,7.890743,7.774707,16.5,54.732,11.959873,15.563031,3.345118,1981,Moderate Growth
1982,11.562099,2.735896e+11,8.419293,3.153437,7.024774,-0.887438,5.837629,-0.914918,14.101651,85.635851,...,13.293660,11.868081,7.320987,16.5,55.281,12.077793,17.460567,3.323069,1982,Very High Growth
1983,1.851968,2.786564e+11,8.784357,2.700000,7.097912,-1.089317,6.283401,7.297852,15.530868,84.960526,...,14.399548,8.318907,7.947100,16.5,55.816,13.142960,19.011381,3.416876,1983,Moderate Growth

Just like India, this was done for all the countries in the same manner, which can be accessed using the code file.

## Sources

https://policycommons.net/artifacts/1412671/best-gdp-growth-in-a-year-still-not-good-enough/2026934/


https://ideas.repec.org/p/fip/fednsr/94635.html

https://www.sciencedirect.com/science/article/pii/S0378437116309475?casa_token=m-i7E8n52w4AAAAA:QNYOYUv0zCTcAhLbPZ5ax3wg8dWBjSmwO-OBVa4xjSOOjX1yQ4Ydcw9IFls40ZPvsJodYTtzBpc

https://corporatefinanceinstitute.com/resources/economics/economic-growth-rate/