In [9]:
from fredapi import Fred
import pandas as pd

fred = Fred(api_key='10fbe66f8f62ad7f44097cca867bf01f')

In [10]:
series_id_1 = 'GDP' # for GDP US
series_id_2='GDPC1' # for Real Gross GDP
series_id_3='W207RC1Q156SBEA' # Adjusted Saving (% of GNI)
series_id_4='USAB6BLTT02STSAQ' # Current account balance (% of GDP)
series_id_5='A019RE1Q156NBEA' # Export of Goods and Services as percentage of GDP
series_id_6='MKTGNIUSA646NWDB' # GNI

In [11]:
# Set the start and end dates where I need data from 1990 to 2023
start_date = '1973'
end_date = '2023'

In [13]:
# Fetch the data
gdp_u = fred.get_series(series_id_1, start_date, end_date)
realgdp_u = fred.get_series(series_id_2, start_date, end_date)
adjsavings_u = fred.get_series(series_id_3, start_date, end_date)
currentaccbalance_u = fred.get_series(series_id_4, start_date, end_date)
exportsofgoods_u = fred.get_series(series_id_5, start_date, end_date)
gni_u= fred.get_series(series_id_6, start_date, end_date)

In [14]:
# for GDP
df1= gdp_u.to_frame(name=('GDP'))
annual_gdp_u = df1.resample('A').mean()
annual_gdp_u['Year'] = annual_gdp_u.index.year
annual_gdp_u=annual_gdp_u[['Year', 'GDP']]
annual_gdp_u.reset_index(drop=True, inplace=True)
print(annual_gdp_u.head(5))

   Year        GDP
0  1973  1425.3760
1  1974  1545.2425
2  1975  1684.9050
3  1976  1873.4125
4  1977  2081.8250

In [15]:
adjsavings_u

1973-01-01    10.5
1973-04-01    10.6
1973-07-01    10.9
1973-10-01    11.7
1974-01-01    10.7
              ...
2022-01-01     1.9
2022-04-01     1.8
2022-07-01     1.7
2022-10-01     0.7
2023-01-01    -0.2
Length: 201, dtype: float64

In [16]:
# Real GDP
df2= realgdp_u.to_frame(name=('Real GDP'))
annual_realgdp_u = df2.resample('A').mean()
annual_realgdp_u['Year'] = annual_realgdp_u.index.year
annual_realgdp_u.reset_index(drop=True, inplace=True)
annual_realgdp_u.head(16)

      Real GDP  Year
0   6106.37050  1973
1   6073.36275  1974
2   6060.87525  1975
3   6387.43650  1976
4   6682.80450  1977
5   7052.71125  1978
6   7275.99925  1979
7   7257.31650  1980
8   7441.48500  1981
9   7307.31400  1982
10  7642.26550  1983
11  8195.29525  1984
12  8537.00375  1985
13  8832.61125  1986
14  9137.74475  1987
15  9519.42675  1988

In [17]:
# Adjusted Savings
df3= adjsavings_u.to_frame(name=('Adjusted Savings'))
annual_adjsavings_u = df3.resample('A').mean()
annual_adjsavings_u['Year'] = annual_adjsavings_u.index.year
annual_adjsavings_u.reset_index(drop=True, inplace=True)
annual_adjsavings_u.head(2)

   Adjusted Savings  Year
0            10.925  1973
1             9.200  1974

In [18]:
# Current Account Balance % of GDP
df4= currentaccbalance_u.to_frame(name=('Current Account Balance'))
annual_currentaccbalance_u = df4.resample('A').mean()
annual_currentaccbalance_u['Year'] = annual_currentaccbalance_u.index.year
annual_currentaccbalance_u.reset_index(drop=True, inplace=True)
annual_currentaccbalance_u.head(2)

   Current Account Balance  Year
0                 0.492313  1973
1                 0.129574  1974

In [19]:
# Current Account Balance % of GDP
df5= exportsofgoods_u.to_frame(name=('Exports of Goods and Services'))
annual_exportsofgoods_u = df5.resample('A').mean()
annual_exportsofgoods_u['Year'] = annual_exportsofgoods_u.index.year
annual_exportsofgoods_u.reset_index(drop=True, inplace=True)
annual_exportsofgoods_u.head(2)

   Exports of Goods and Services  Year
0                          0.275  1973
1                         -0.050  1974

In [20]:
# GNI
df6= gni_u.to_frame(name=('GNI'))
annual_gni_u = df6.resample('A').mean()
annual_gni_u['Year'] = annual_gni_u.index.year
annual_gni_u.reset_index(drop=True, inplace=True)
annual_gni_u.head(10)

            GNI  Year
0  1.431848e+12  1973
1  1.553300e+12  1974
2  1.684554e+12  1975
3  1.869603e+12  1976
4  2.082670e+12  1977
5  2.349856e+12  1978
6  2.614202e+12  1979
7  2.847055e+12  1980
8  3.201886e+12  1981
9  3.371448e+12  1982

In [21]:
merged_df= pd.merge(annual_gdp_u, annual_realgdp_u, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_adjsavings_u, how= 'outer', on= 'Year')
merged_df= pd.merge(merged_df, annual_currentaccbalance_u, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_exportsofgoods_u, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_gni_u, how= 'outer', on= 'Year' )

merged_df.isna().sum()

Year                             0
GDP                              0
Real GDP                         0
Adjusted Savings                 0
Current Account Balance          0
Exports of Goods and Services    0
GNI                              1
dtype: int64

In [22]:
merged_df['GNI'] = merged_df['GNI'].fillna(merged_df['GNI'].mean())
merged_df.isna().sum()

Year                             0
GDP                              0
Real GDP                         0
Adjusted Savings                 0
Current Account Balance          0
Exports of Goods and Services    0
GNI                              0
dtype: int64

In [24]:
merged_df.head(10)

csv_file='../data/raw_fred_data_us.csv'
merged_df.to_csv(csv_file, index=True)

In [ ]:
merged_df.describe()

,Year,GDP,Real GDP,Adjusted Savings,Current Account Balance,Exports of Goods and Services,GNI
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,5.100000e+01
mean,1998.000000,10487.486853,13148.741608,4.161765,-2.213121,-2.372549,1.023250e+13
std,14.866069,7054.335235,4980.312765,2.823656,1.676165,1.603280,6.750381e+12
min,1973.000000,1425.376000,6060.875250,-2.575000,-5.912146,-5.700000,1.431848e+12
25%,1985.500000,4459.306500,8684.807500,2.487500,-3.205764,-3.450000,4.413304e+12
50%,1998.000000,9062.816750,12924.875750,3.675000,-2.126816,-2.700000,9.135464e+12
75%,2010.500000,15324.351250,16921.080500,6.112500,-1.140441,-1.150000,1.494509e+13
max,2023.000000,26813.601000,22112.329000,10.925000,1.075657,0.950000,2.583890e+13

In [ ]:
merged_df.info()
merged_df['Year']=pd.to_datetime(merged_df['Year'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           51 non-null     int64
 1   GDP                            51 non-null     float64
 2   Real GDP                       51 non-null     float64
 3   Adjusted Savings               51 non-null     float64
 4   Current Account Balance        51 non-null     float64
 5   Exports of Goods and Services  51 non-null     float64
 6   GNI                            51 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 3.2 KB