In [1]:
# Import Libraries

# pip install fredapi
from fredapi import Fred
import pandas as pd

fred = Fred(api_key='10fbe66f8f62ad7f44097cca867bf01f')


# INDIA 

series_id_1 = 'NAEXKP01INQ652S' # for GDP India
series_id_2='DEBTTLINA188A' # for Debt India
series_id_3='CPALTT01INQ657N' # for CPI India 
series_id_4='NAEXKP01INQ657S' # Export Values
series_id_5='XTIMVA01INQ657S' # Import Values
series_id_6='NAEXKP03INQ657S' # Government Final Consumption Expenditure
series_id_7='FPCPITOTLZGIND' # Inflation
series_id_8= 'MKTGNIINA646NWDB' # Gross National Income (Yearly)
series_id_9= 'SLEMPTOTLSPZSIND' # Employment to Population Ratio
series_id_10='SLUEM1524ZSIND' # Unemployment Rate 
series_id_11='SPDYNIMRTININD' # Infant Mortality Rate in India
series_id_12='SEADTLITRZSIND' # Literacy Rate
series_id_13='SPDYNLE00ININD' # Life Expectancy at Birth (Yearly)
series_id_14='INDNTDDRPCPPPT' #National Accounts: Real Total Domestic Demand for India (Yearly)
series_id_15='EMPENGINA148NRUG' #Number of Persons Engaged for India (Yearly)
series_id_16= 'NAEXKP02INQ189S' #Private Final Consumption Expenditure for India
series_id_17= 'GGNLBAINA188N' #General government net lending/borrowing for India
series_id_18='NNXGSRNSAXDCINQ' #Real External Balance of Goods and Services for India

# Set the start and end dates where I need data from 1990 to 2023
start_date = '2000'
end_date = '2023'


# Fetch the data
gdp_i = fred.get_series(series_id_1, start_date, end_date)
debt_i = fred.get_series(series_id_2, start_date, end_date)
cpi_i = fred.get_series(series_id_3, start_date, end_date)
export_i = fred.get_series(series_id_4, start_date, end_date)
import_i = fred.get_series(series_id_5, start_date, end_date)
govt_final_exp_i = fred.get_series(series_id_6, start_date, end_date)
inflation_i = fred.get_series(series_id_7, start_date, end_date)
gni_i= fred.get_series(series_id_8, start_date, end_date)
em_pop_i = fred.get_series(series_id_9, start_date, end_date)
unemployment_i = fred.get_series(series_id_10, start_date, end_date)
infantmor_i = fred.get_series(series_id_11, start_date, end_date)
literacy_i = fred.get_series(series_id_12, start_date, end_date)
lifeexp_i = fred.get_series(series_id_13, start_date, end_date)
domesdem_i= fred.get_series(series_id_14, start_date, end_date)
engagedwork_i = fred.get_series(series_id_15, start_date, end_date)
privatefinalcon_i = fred.get_series(series_id_16, start_date, end_date)
govt_lendingborrow_i=fred.get_series(series_id_17, start_date, end_date)
real_balan_trade=fred.get_series(series_id_18, start_date, end_date)

In [2]:
gdp_i.head(10)
gdp_i

2000-01-01    9.761910e+12
2000-04-01    9.775079e+12
2000-07-01    9.904862e+12
2000-10-01    9.909011e+12
2001-01-01    9.962586e+12
                  ...
2022-01-01    3.863466e+13
2022-04-01    3.899856e+13
2022-07-01    3.977759e+13
2022-10-01    4.022773e+13
2023-01-01    4.106037e+13
Length: 93, dtype: float64

In [3]:
# for GDP
df1= gdp_i.to_frame(name=('GDP'))
annual_gdp_i = df1.resample('A').mean()
annual_gdp_i['Year'] = annual_gdp_i.index.year
annual_gdp_i=annual_gdp_i[['Year', 'GDP']]
annual_gdp_i.reset_index(drop=True, inplace=True)
print(annual_gdp_i)

    Year           GDP
0   2000  9.837716e+12
1   2001  1.024009e+13
2   2002  1.070059e+13
3   2003  1.144959e+13
4   2004  1.241825e+13
5   2005  1.353360e+13
6   2006  1.479867e+13
7   2007  1.629002e+13
8   2008  1.726523e+13
9   2009  1.815214e+13
10  2010  2.018101e+13
11  2011  2.161276e+13
12  2012  2.270664e+13
13  2013  2.411987e+13
14  2014  2.584663e+13
15  2015  2.780186e+13
16  2016  3.030082e+13
17  2017  3.223798e+13
18  2018  3.453223e+13
19  2019  3.613408e+13
20  2020  3.400825e+13
21  2021  3.697601e+13
22  2022  3.940964e+13
23  2023  4.106037e+13

In [4]:
# for debt
df2 = debt_i.to_frame(name='Debt')
annual_debt_i = df2.resample('A').mean()
annual_debt_i['Year'] = annual_debt_i.index.year
annual_debt_i.reset_index(drop=True, inplace=True)
print(annual_debt_i)

         Debt  Year
0   55.004246  2000
1   59.017910  2001
2   62.552771  2002
3   62.190054  2003
4   62.592977  2004
5   62.226526  2005
6   59.666730  2006
7   57.497536  2007
8   57.292214  2008
9   55.256446  2009
10  51.591910  2010
11  51.556554  2011
12  50.678031  2012
13  50.311827  2013
14  49.900925  2014
15  49.964718  2015
16  47.633756  2016
17  47.583609  2017
18  46.522499  2018

In [5]:
# For CPI 
df3 = cpi_i.to_frame(name='CPI')
annual_cpi_i = df3.resample('A').mean()
annual_cpi_i['Year'] = annual_cpi_i.index.year
annual_cpi_i.reset_index(drop=True, inplace=True)
print(annual_cpi_i)

         CPI  Year
0   0.743326  2000
1   1.177910  2001
2   0.898195  2002
3   0.832552  2003
4   1.031525  2004
5   1.236825  2005
6   1.583952  2006
7   1.354693  2007
8   2.463714  2008
9   3.202834  2009
10  2.221340  2010
11  2.042146  2011
12  2.441827  2012
13  2.541551  2013
14  1.240008  2014
15  1.579330  2015
16  0.681853  2016
17  0.927918  2017
18  1.266485  2018
19  2.088431  2019
20  1.219469  2020
21  1.224215  2021
22  1.391234  2022
23  0.377548  2023

In [6]:
# For Export 
df4 = export_i.to_frame(name='Export')
annual_export_i = df4.resample('A').mean()
annual_export_i['Year'] = annual_export_i.index.year
annual_export_i.reset_index(drop=True, inplace=True)
print(annual_export_i)

      Export  Year
0        NaN  2000
1        NaN  2001
2        NaN  2002
3        NaN  2003
4        NaN  2004
5        NaN  2005
6        NaN  2006
7        NaN  2007
8        NaN  2008
9        NaN  2009
10       NaN  2010
11  0.812523  2011
12  1.379899  2012
13  1.701198  2013
14  1.702106  2014
15  1.926197  2015
16  2.084683  2016
17  1.596253  2017
18  1.583368  2018
19  0.797536  2019
20  1.605341  2020
21  1.294287  2021
22  1.141488  2022
23  2.069819  2023

In [7]:
# For Import 
df5 = import_i.to_frame(name='Import')
annual_import_i = df5.resample('A').mean()
annual_import_i['Year'] = annual_import_i.index.year
annual_import_i.reset_index(drop=True, inplace=True)
print(annual_import_i)

       Import  Year
0    0.317978  2000
1   -1.178806  2001
2    6.129133  2002
3    7.709287  2003
4    8.349341  2004
5    5.999929  2005
6    8.680043  2006
7    7.119319  2007
8    4.146794  2008
9    5.407855  2009
10   4.206684  2010
11   7.194168  2011
12   1.568523  2012
13  -3.916960  2013
14   2.187958  2014
15  -4.951999  2015
16   2.390478  2016
17   4.391286  2017
18   1.843752  2018
19  -2.770463  2019
20   5.250269  2020
21  11.317921  2021
22   1.629893  2022
23  -4.002668  2023

In [8]:
# For Government Final Expenditure  
df6 = govt_final_exp_i.to_frame(name='Government Final Expenditure')
annual_govt_final_exp_i = df6.resample('A').mean()
annual_govt_final_exp_i['Year'] = annual_govt_final_exp_i.index.year
annual_govt_final_exp_i.reset_index(drop=True, inplace=True)
print(annual_govt_final_exp_i)

    Government Final Expenditure  Year
0                            NaN  2005
1                            NaN  2006
2                            NaN  2007
3                            NaN  2008
4                            NaN  2009
5                            NaN  2010
6                       5.825245  2011
7                       0.308840  2012
8                       3.930064  2013
9                       7.785356  2014
10                      4.271969  2015
11                      3.244825  2016
12                      4.009345  2017
13                      2.432896  2018
14                      2.189374  2019
15                      0.237188  2020
16                      2.553484  2021
17                      1.907113  2022
18                     39.317929  2023

In [9]:
# For Inflation
df7 = inflation_i.to_frame(name='Inflation')
annual_inflation_i = df7.resample('A').mean()
annual_inflation_i['Year'] = annual_inflation_i.index.year
annual_inflation_i.reset_index(drop=True, inplace=True)
print(annual_inflation_i)

    Inflation  Year
0    4.009436  2000
1    3.779293  2001
2    4.297152  2002
3    3.805859  2003
4    3.767252  2004
5    4.246344  2005
6    5.796523  2006
7    6.372881  2007
8    8.349267  2008
9   10.882353  2009
10  11.989390  2010
11   8.911793  2011
12   9.478997  2012
13  10.017878  2013
14   6.665657  2014
15   4.906973  2015
16   4.948216  2016
17   3.328173  2017
18   3.938826  2018
19   3.729506  2019
20   6.623437  2020
21   5.131407  2021
22   6.699034  2022

In [10]:
# For GNI
df8 = gni_i.to_frame(name='Government National Expenditure')
annual_gni_i = df8.resample('A').mean()
annual_gni_i['Year'] = annual_gni_i.index.year
annual_gni_i.reset_index(drop=True, inplace=True)
print(annual_gni_i)

    Government National Expenditure  Year
0                      4.634190e+11  2000
1                      4.812333e+11  2001
2                      5.114900e+11  2002
3                      6.031929e+11  2003
4                      7.041687e+11  2004
5                      8.144828e+11  2005
6                      9.329153e+11  2006
7                      1.211642e+12  2007
8                      1.191737e+12  2008
9                      1.333879e+12  2009
10                     1.657660e+12  2010
11                     1.807021e+12  2011
12                     1.806177e+12  2012
13                     1.833601e+12  2013
14                     2.015014e+12  2014
15                     2.079183e+12  2015
16                     2.247939e+12  2016
17                     2.622801e+12  2017
18                     2.673994e+12  2018
19                     2.808368e+12  2019
20                     2.635666e+12  2020
21                     3.087256e+12  2021
22                     3.317300e+12  2022

In [11]:
# For Employment Population
df9 = em_pop_i.to_frame(name='Employment Population')
annual_em_pop_i = df9.resample('A').mean()
annual_em_pop_i['Year'] = annual_em_pop_i.index.year
annual_em_pop_i.reset_index(drop=True, inplace=True)
print(annual_em_pop_i)

    Employment Population  Year
0                  52.756  2000
1                  52.180  2001
2                  51.628  2002
3                  51.014  2003
4                  50.449  2004
5                  49.886  2005
6                  49.944  2006
7                  50.009  2007
8                  50.125  2008
9                  50.125  2009
10                 50.177  2010
11                 49.659  2011
12                 49.096  2012
13                 48.231  2013
14                 47.362  2014
15                 46.495  2015
16                 45.631  2016
17                 44.783  2017
18                 43.922  2018
19                 46.137  2019
20                 43.253  2020
21                 44.794  2021
22                 45.859  2022

In [12]:
# For Unemployment Population
df10 = unemployment_i.to_frame(name='Unmployment Population')
annual_unemployment_i = df10.resample('A').mean()
annual_unemployment_i['Year'] = annual_unemployment_i.index.year
annual_unemployment_i.reset_index(drop=True, inplace=True)
print(annual_unemployment_i)

    Unmployment Population  Year
0                   13.501  2000
1                   13.798  2001
2                   14.048  2002
3                   14.424  2003
4                   14.705  2004
5                   14.991  2005
6                   15.742  2006
7                   16.495  2007
8                   17.143  2008
9                   18.098  2009
10                  18.959  2010
11                  19.681  2011
12                  20.549  2012
13                  21.459  2013
14                  22.409  2014
15                  23.374  2015
16                  24.358  2016
17                  25.304  2017
18                  26.353  2018
19                  22.885  2019
20                  30.896  2020
21                  23.893  2021
22                  23.224  2022

In [13]:
# For Infant Mortality
df11 = infantmor_i.to_frame(name='Infant Mortality')
annual_infantmor_i = df11.resample('A').mean()
annual_infantmor_i['Year'] = annual_infantmor_i.index.year
annual_infantmor_i.reset_index(drop=True, inplace=True)
print(annual_infantmor_i)

    Infant Mortality  Year
0               66.7  2000
1               64.4  2001
2               62.1  2002
3               59.9  2003
4               57.8  2004
5               55.7  2005
6               53.6  2006
7               51.5  2007
8               49.3  2008
9               47.2  2009
10              45.1  2010
11              42.9  2011
12              40.9  2012
13              38.8  2013
14              36.9  2014
15              35.0  2015
16              33.2  2016
17              31.5  2017
18              29.8  2018
19              28.3  2019
20              26.8  2020
21              25.5  2021

In [14]:
# For Literacy Rate
df12 = literacy_i.to_frame(name='Literacy Rate')
annual_literacy_i = df12.resample('A').mean()
annual_literacy_i['Year'] = annual_literacy_i.index.year
annual_literacy_i.reset_index(drop=True, inplace=True)
print(annual_literacy_i)

    Literacy Rate  Year
0             NaN  2000
1       61.014561  2001
2             NaN  2002
3             NaN  2003
4             NaN  2004
5             NaN  2005
6       62.754471  2006
7             NaN  2007
8             NaN  2008
9             NaN  2009
10            NaN  2010
11      69.302559  2011
12            NaN  2012
13            NaN  2013
14            NaN  2014
15            NaN  2015
16            NaN  2016
17            NaN  2017
18      74.372993  2018

In [15]:

# For Life Expectancy 
df13 = lifeexp_i.to_frame(name='Life Expectancy')
annual_lifeexp_i = df13.resample('A').mean()
annual_lifeexp_i['Year'] = annual_lifeexp_i.index.year
annual_lifeexp_i.reset_index(drop=True, inplace=True)
print(annual_lifeexp_i)

    Life Expectancy  Year
0            62.669  2000
1            63.091  2001
2            63.616  2002
3            64.094  2003
4            64.524  2004
5            64.996  2005
6            65.412  2006
7            65.788  2007
8            66.149  2008
9            66.513  2009
10           66.909  2010
11           67.359  2011
12           67.887  2012
13           68.460  2013
14           69.074  2014
15           69.636  2015
16           70.117  2016
17           70.467  2017
18           70.710  2018
19           70.910  2019
20           70.150  2020
21           67.240  2021

In [16]:

# For Domestic Demand
df14 = domesdem_i.to_frame(name='Domestic Demand')
annual_domesdem_i = df14.resample('A').mean()
annual_domesdem_i['Year'] = annual_domesdem_i.index.year
annual_domesdem_i.reset_index(drop=True, inplace=True)
print(annual_domesdem_i)

    Domestic Demand  Year
0               NaN  2012
1               NaN  2013
2               NaN  2014
3               NaN  2015
4          6.384127  2016
5          9.154473  2017
6          8.500588  2018
7          5.963030  2019
8          7.370243  2020
9          7.624245  2021
10         7.755228  2022
11         7.756542  2023

In [17]:

# For Engaged Employees
df15 = engagedwork_i.to_frame(name='Engaged Employees')
annual_engagedwork_i= df15.resample('A').mean()
annual_engagedwork_i['Year'] = annual_engagedwork_i.index.year
annual_engagedwork_i.reset_index(drop=True, inplace=True)
print(annual_engagedwork_i)

    Engaged Employees  Year
0          409.248596  2000
1          419.762024  2001
2          430.733276  2002
3          442.381226  2003
4          454.544983  2004
5          457.638062  2005
6          457.973663  2006
7          459.028900  2007
8          460.812927  2008
9          463.632599  2009
10         467.412506  2010
11         472.214478  2011
12         469.831085  2012
13         483.854340  2013
14         483.084595  2014
15         482.700470  2015
16         482.989014  2016
17         487.190979  2017
18         491.077209  2018
19         497.615723  2019

In [18]:

# For Private Final Consumption Expenditure 
df16 = privatefinalcon_i.to_frame(name='Private Final Consumption Expenditure')
annual_privatefinalcon_i= df16.resample('A').mean()
annual_privatefinalcon_i['Year'] = annual_privatefinalcon_i.index.year
annual_privatefinalcon_i.reset_index(drop=True, inplace=True)
print(annual_privatefinalcon_i)

    Private Final Consumption Expenditure  Year
0                            5.766111e+12  2000
1                            6.091633e+12  2001
2                            6.294045e+12  2002
3                            6.630704e+12  2003
4                            6.895978e+12  2004
5                            7.447763e+12  2005
6                            8.074767e+12  2006
7                            8.796539e+12  2007
8                            9.535028e+12  2008
9                            1.020601e+13  2009
10                           1.101360e+13  2010
11                           1.201798e+13  2011
12                           1.278822e+13  2012
13                           1.364023e+13  2013
14                           1.452740e+13  2014
15                           1.561625e+13  2015
16                           1.701851e+13  2016
17                           1.798811e+13  2017
18                           1.931022e+13  2018
19                           2.052017e+13  2019
20                           1.920701e+13  2020
21                           2.150181e+13  2021
22                           2.323508e+13  2022
23                           2.372408e+13  2023

In [19]:
# For Government Lending and Borrrowing
df17 = govt_lendingborrow_i.to_frame(name='Government Lending and Borrrowing')
annual_govt_lendingborrow_i= df17.resample('A').mean()
annual_govt_lendingborrow_i['Year'] = annual_govt_lendingborrow_i.index.year
annual_govt_lendingborrow_i.reset_index(drop=True, inplace=True)
print(annual_govt_lendingborrow_i)

    Government Lending and Borrrowing  Year
0                              -8.264  2000
1                             -10.843  2001
2                             -10.881  2002
3                             -11.231  2003
4                              -9.062  2004
5                              -7.368  2005
6                              -6.321  2006
7                              -4.505  2007
8                              -8.982  2008
9                              -9.534  2009
10                             -8.626  2010
11                             -8.349  2011
12                             -7.550  2012
13                             -7.000  2013
14                             -7.071  2014
15                             -7.205  2015
16                             -7.120  2016
17                             -6.227  2017
18                             -6.376  2018
19                             -7.694  2019
20                            -12.880  2020
21                             -9.646  2021

In [20]:
# For Real Trade Balance
df18 = real_balan_trade.to_frame(name='Government Lending and Borrrowing')
annual_real_balan_trade= df18.resample('A').mean()
annual_real_balan_trade['Year'] = annual_real_balan_trade.index.year
annual_real_balan_trade.reset_index(drop=True, inplace=True)
print(annual_real_balan_trade)
type(annual_gni_i)

    Government Lending and Borrrowing  Year
0                       -2.210333e+05  2004
1                       -2.886500e+05  2005
2                       -3.884000e+05  2006
3                       -4.164000e+05  2007
4                       -9.185250e+05  2008
5                       -8.263750e+05  2009
6                       -1.083700e+06  2010
7                       -1.217000e+06  2011
8                       -1.465850e+06  2012
9                       -7.723000e+05  2013
10                      -3.805250e+05  2014
11                      -3.804500e+05  2015
12                      -3.330750e+05  2016
13                      -8.863000e+05  2017
14                      -1.271400e+06  2018
15                      -1.155225e+06  2019
16                      -6.062250e+05  2020
17                      -7.244750e+05  2021
18                      -9.904250e+05  2022
19                      -6.260000e+04  2023

pandas.core.frame.DataFrame

df_list = [annual_gdp_i, annual_debt_i, annual_cpi_i, annual_import_i, annual_inflation_i, annual_gni_i, annual_em_pop_i, unemployment_i, annual_infantmor_i, annual_lifeexp_i, annual_engagedwork_i, privatefinalcon_i, annual_govt_lendingborrow_i]
#suffixes = ['GDP', 'Debt', 'CPI', 'Import', 'Inflation', 'GNI', 'Employment Population', 'Unemployment', 'Infant Mortality', 'Life Expectancy', 'Engaged Workers', 'Private Final Consumption', 'Annual Government Borrow/Lending Ratio']
merged_df = pd.concat(df_list, axis=1)
merged_df = merged_df.loc[:,~merged_df.columns.duplicated()]
print(merged_df)


file_path = "/Users/sheebamoghal/Downloads/hi.csv"

merged_df.to_csv(file_path, index=False)

In [25]:
merged_df= pd.merge(annual_gdp_i, annual_debt_i, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_cpi_i, how= 'outer', on= 'Year')
merged_df= pd.merge(merged_df, annual_import_i, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_inflation_i, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_em_pop_i, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_unemployment_i, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_infantmor_i, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_lifeexp_i, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_engagedwork_i, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_privatefinalcon_i, how= 'outer', on= 'Year' )
merged_df= pd.merge(merged_df, annual_govt_lendingborrow_i, how= 'outer', on= 'Year')
merged_df = merged_df.set_index('Year')

In [26]:
missing = merged_df.isna().sum()
print(missing)

merged_df = merged_df.fillna(merged_df.mean()) # Did using mean value imputation

GDP                                      0
Debt                                     5
CPI                                      0
Import                                   0
Inflation                                1
Employment Population                    1
Unmployment Population                   1
Infant Mortality                         2
Life Expectancy                          2
Engaged Employees                        4
Private Final Consumption Expenditure    0
Government Lending and Borrrowing        2
dtype: int64

In [28]:
# Finding the nature of the data



#merged_df['Year']=pd.to_datetime(merged_df['Year'])

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 2000 to 2023
Data columns (total 12 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   GDP                                    24 non-null     float64
 1   Debt                                   24 non-null     float64
 2   CPI                                    24 non-null     float64
 3   Import                                 24 non-null     float64
 4   Inflation                              24 non-null     float64
 5   Employment Population                  24 non-null     float64
 6   Unmployment Population                 24 non-null     float64
 7   Infant Mortality                       24 non-null     float64
 8   Life Expectancy                        24 non-null     float64
 9   Engaged Employees                      24 non-null     float64
 10  Private Final Consumption Expenditure  24 non-null     float64
 11  Government Lending and Borrrowing      24 non-null     float64
dtypes: float64(12)
memory usage: 2.4 KB

In [29]:
merged_df.head(20)

,GDP,Debt,CPI,Import,Inflation,Employment Population,Unmployment Population,Infant Mortality,Life Expectancy,Engaged Employees,Private Final Consumption Expenditure,Government Lending and Borrrowing
Year,,,,,,,,,,,,
2000,9.837716e+12,55.004246,0.743326,0.317978,4.009436,52.756,13.501,66.7,62.669,409.248596,5.766111e+12,-8.264
2001,1.024009e+13,59.017910,1.177910,-1.178806,3.779293,52.180,13.798,64.4,63.091,419.762024,6.091633e+12,-10.843
2002,1.070059e+13,62.552771,0.898195,6.129133,4.297152,51.628,14.048,62.1,63.616,430.733276,6.294045e+12,-10.881
2003,1.144959e+13,62.190054,0.832552,7.709287,3.805859,51.014,14.424,59.9,64.094,442.381226,6.630704e+12,-11.231
2004,1.241825e+13,62.592977,1.031525,8.349341,3.767252,50.449,14.705,57.8,64.524,454.544983,6.895978e+12,-9.062
2005,1.353360e+13,62.226526,1.236825,5.999929,4.246344,49.886,14.991,55.7,64.996,457.638062,7.447763e+12,-7.368
2006,1.479867e+13,59.666730,1.583952,8.680043,5.796523,49.944,15.742,53.6,65.412,457.973663,8.074767e+12,-6.321
2007,1.629002e+13,57.497536,1.354693,7.119319,6.372881,50.009,16.495,51.5,65.788,459.028900,8.796539e+12,-4.505
2008,1.726523e+13,57.292214,2.463714,4.146794,8.349267,50.125,17.143,49.3,66.149,460.812927,9.535028e+12,-8.982
2009,1.815214e+13,55.256446,3.202834,5.407855,10.882353,50.125,18.098,47.2,66.513,463.632599,1.020601e+13,-9.534
2010,2.018101e+13,51.591910,2.221340,4.206684,11.989390,50.177,18.959,45.1,66.909,467.412506,1.101360e+13,-8.626
2011,2.161276e+13,51.556554,2.042146,7.194168,8.911793,49.659,19.681,42.9,67.359,472.214478,1.201798e+13,-8.349
2012,2.270664e+13,50.678031,2.441827,1.568523,9.478997,49.096,20.549,40.9,67.887,469.831085,1.278822e+13,-7.550
2013,2.411987e+13,50.311827,2.541551,-3.916960,10.017878,48.231,21.459,38.8,68.460,483.854340,1.364023e+13,-7.000
2014,2.584663e+13,49.900925,1.240008,2.187958,6.665657,47.362,22.409,36.9,69.074,483.084595,1.452740e+13,-7.071
2015,2.780186e+13,49.964718,1.579330,-4.951999,4.906973,46.495,23.374,35.0,69.636,482.700470,1.561625e+13,-7.205
2016,3.030082e+13,47.633756,0.681853,2.390478,4.948216,45.631,24.358,33.2,70.117,482.989014,1.701851e+13,-7.120
2017,3.223798e+13,47.583609,0.927918,4.391286,3.328173,44.783,25.304,31.5,70.467,487.190979,1.798811e+13,-6.227
2018,3.453223e+13,46.522499,1.266485,1.843752,3.938826,43.922,26.353,29.8,70.710,491.077209,1.931022e+13,-6.376
2019,3.613408e+13,54.686381,2.088431,-2.770463,3.729506,46.137,22.885,28.3,70.910,497.615723,2.052017e+13,-7.694